<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add produtos carrinho</title>
</head>
<body>
  <div>
    <h1>seu carrinho</h1>
    
  </div>
  
  <div>
    <h1>listando produtos</h1>
      {% for p in produtos %}
    <div>
      <h2>{{ p.nome }}</h2>
      <p>preço: {{ p.price }}</p>
      <p>descrição do produto: {{ p.descricao }}</p>
      <a href="{% url 'carrinho:add' pk=p.pk %}"> adicionar no carrinho</a>
    </div>
  {% endfor %}
  </div>
  
</body>
</html>