<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>home</title>
</head>
<body>
    <h1>listando usuarios</h1>
    {% for i in users %}
        <div class="card">
            <p>nome {{ i.nome }}</p>
            <div class="foto-user">
              <img src="{{ i.foto.url }}" alt="foto">
            </div>
        </div>
    {% endfor %}
</body>
</html>